<!doctype html>
<html lang="en" xmnls:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<meta charset="UTF-8" />
	<title>Order Success</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/About.css}" />
	<link rel="stylesheet" th:href="@{/css/Order_success.css}" />
	body{
		background-color:navajowhite;
	body {
		background-color: white; /* Updated to a more neutral color */
		font-family: sans-serif; /* Changed to a consistent font */
		font-size: 16px; /* Adjusted font size for consistency */
	}
	.order-success-text {
		text-align: center;
		margin: 20px; /* Added margin for better spacing */
	}
	.back-link {
		border: 1px solid black;
		text-decoration: none;
		background-color: darkgreen;
		color: aliceblue;
		padding: 5px;
	}

<body>
		<a href="/product/back" >Back</a>
	<a href="/product/back" class="back-link">Back</a>
	<div class="order-success-text">
		<h4>Ordered Successfully!</h4>
		<h3>Your purchased amount is: <span th:text="'₹ '+${amount}+'/-'"></span></h3>
	</div>
</body>

</html>